/* site navigation bar */

.site-nav {
	margin-top: 20px;
	text-align: center;
}

.site-nav ul{
	margin: 0;
	padding: 0;
}

.site-nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;

}

.site-nav a:not(.active){
	text-decoration: none;
	color: red;
	padding: 10px 20px;
	border: 3px solid  black;
	font-weight: bold;
	background-color: black;
}

.site-nav a:hover{
	background-color: black;
	opacity: 0.5;
}

.site-nav a.active{
	text-decoration: underline;
	color: red;
	padding: 10px 20px;
	border: 3px solid red;
	font-weight: bold;
	background-color: black;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* end nav bar */

body{
	background-color: #595959;
}

/* EvoPage */
#evopage{
	text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
}

#evopage p,ul{
	font-size: 1.4rem;
	color: black;
}

.evospecs{
	font-size: 1.4rem;
	color: black;

}

.EvoPerformance{
	font-size: 1.4rem;
	color: black;

}



/* RaptorPage */
#Raptorpage{
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}

#Raptorpage p,ul{
	font-size: 1.4rem;
	color: black;
}

/* Resume Page */

#Resumepage {
	font-family: 'Spectral', serif;
}

#Resumepage p{
	font-size: 140%;
}


/* end Resume */

li {
	list-style-type: none;
}

#Menu{
	text-align: center;
	margin-bottom: 30px;
}

#belowMenuh2{
margin-top: 50px;
}



